.navigationDiv {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4.5rem;
  background-color: #000000;
  color: white;
}

.navigationDiv div {
  margin-top: .65rem;
}

